<a href="https://colab.research.google.com/github/Gabrieldacostamachado/phyton/blob/main/Exercicio_sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Exercicio
#Crie uma tabela de contatos para a empresa que você trabalha, com as informações: nome, e-mail e numero de telefone

import sqlite3
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
cursor.execute("""
    CREATE TABLE IF NOT EXISTS Contatos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT,
        email TEXT,
        telefone TEXT
    )


""")
dados_exemplo = [
    ("João", "joaodasilva@gmail.com", "5199945-3223"),
    ("Gabriel", "gabrieldacostamachado@gmail.com", "5199959-4049"),
    ("Alice", "alicegoerck@gmail.com", "5199945-3443")
]
cursor.executemany('INSERT INTO Contatos (nome, email, telefone) VALUES (?, ?, ?)', dados_exemplo)
conn.commit()

In [7]:
#Read leitura da tabela com os contatos adicionados

#Visualizar os produtos da tabela Atualizado
# Conectando banco de dados
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
#Comando sql para selecionar todos os produtos o * significa que quero ver todos os produtos da tabela
cursor.execute("SELECT * FROM Contatos")
Contatos = cursor.fetchall()
print(Contatos)
for contato in Contatos:
    print(contato)
#Fechando conexão
conn.close()

[(1, 'João', 'joaodasilva@gmail.com', '5199945-3223'), (2, 'Gabriel', 'gabrieldacostamachado@gmail.com', '5199959-4049'), (3, 'Alice', 'alicegoerck@gmail.com', '5199945-3443'), (4, 'João', 'joaodasilva@gmail.com', '5199945-3223'), (5, 'Gabriel', 'gabrieldacostamachado@gmail.com', '5199959-4049'), (6, 'Alice', 'alicegoerck@gmail.com', '5199945-3443')]
(1, 'João', 'joaodasilva@gmail.com', '5199945-3223')
(2, 'Gabriel', 'gabrieldacostamachado@gmail.com', '5199959-4049')
(3, 'Alice', 'alicegoerck@gmail.com', '5199945-3443')
(4, 'João', 'joaodasilva@gmail.com', '5199945-3223')
(5, 'Gabriel', 'gabrieldacostamachado@gmail.com', '5199959-4049')
(6, 'Alice', 'alicegoerck@gmail.com', '5199945-3443')

In [8]:
#Update Atualização de numero de telefone
import sqlite3
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
novo_telefone = '345-987-1209'
contato_id = 1
cursor.execute('UPDATE Contatos SET telefone = ? WHERE id = ?', (novo_telefone, contato_id))
conn.commit()

In [12]:
#Excluindo contatos com id 4,5 e 6
import sqlite3
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
contato_id_para_excluir = 6
cursor.execute('DELETE FROM Contatos WHERE id = ?', (contato_id_para_excluir,))
conn.commit()
conn.close()

In [13]:
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()
#Comando sql para selecionar todos os produtos o * significa que quero ver todos os produtos da tabela
cursor.execute("SELECT * FROM Contatos")
Contatos = cursor.fetchall()
print(Contatos)
for contato in Contatos:
    print(contato)
#Fechando conexão
conn.close()

[(1, 'João', 'joaodasilva@gmail.com', '345-987-1209'), (2, 'Gabriel', 'gabrieldacostamachado@gmail.com', '5199959-4049'), (3, 'Alice', 'alicegoerck@gmail.com', '5199945-3443')]
(1, 'João', 'joaodasilva@gmail.com', '345-987-1209')
(2, 'Gabriel', 'gabrieldacostamachado@gmail.com', '5199959-4049')
(3, 'Alice', 'alicegoerck@gmail.com', '5199945-3443')