<a href="https://colab.research.google.com/github/Gabrieldacostamachado/phyton/blob/main/Exercicio_banco_de_dados_Sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#Criando um banco de dados com os funcionarios, seus cargos e salarios

import sqlite3

#Passo 1 conectar ao banco de dados sqlite ou cria-lo se não existir
conn = sqlite3.connect("funcionarios.db")

In [18]:
#Passo 2 criar a tabela de funcionarios
cursor = conn.cursor()
cursor.execute("""
    CREATE TABLE IF NOT EXISTS funcionarios (
        id INTEGER PRIMARY KEY,
        nome TEXT,
        cargo TEXT,
        salario REAL
    )

""")

In [26]:
#Passo 3: Inserir novo funcionario na tabela
novo_funcionario = (4, "Arthur", "Estagiario", 800.00)
cursor.execute("INSERT INTO funcionarios VALUES (?, ?, ?, ?)", novo_funcionario)
conn.commit()

In [28]:
# Passo 4 consultar e exibir funcionarios
cursor.execute("SELECT * FROM funcionarios")
funcionarios = cursor.fetchall()
print("Funcionários cadastrados:")
for funcionario in funcionarios:
    print(funcionarios)

Funcionários cadastrados:
[(1, 'João Silva', 'Analista', 5500.0), (2, 'Gabriel', 'Aspone', 100.0), (3, 'Alice', 'Gerente Geral', 8100.0), (4, 'Arthur', 'Estagiario', 800.0)]
[(1, 'João Silva', 'Analista', 5500.0), (2, 'Gabriel', 'Aspone', 100.0), (3, 'Alice', 'Gerente Geral', 8100.0), (4, 'Arthur', 'Estagiario', 800.0)]
[(1, 'João Silva', 'Analista', 5500.0), (2, 'Gabriel', 'Aspone', 100.0), (3, 'Alice', 'Gerente Geral', 8100.0), (4, 'Arthur', 'Estagiario', 800.0)]
[(1, 'João Silva', 'Analista', 5500.0), (2, 'Gabriel', 'Aspone', 100.0), (3, 'Alice', 'Gerente Geral', 8100.0), (4, 'Arthur', 'Estagiario', 800.0)]

In [21]:
# Atualizando dados dos funcionarios
atualizacao = ("João Silva", 5500.00, 1)
cursor.execute("UPDATE funcionarios SET nome = ?, salario = ? WHERE id = ?", atualizacao)
conn.commit()

In [31]:
#Conultando atualização do cadastro do funcionario
cursor.execute("SELECT * FROM funcionarios")
funcionarios = cursor.fetchall()
print("Funcionários cadastrados:")
for funcionario in funcionarios:
    print(funcionarios)

Funcionários cadastrados:
[(2, 'Gabriel', 'Aspone', 100.0), (3, 'Alice', 'Gerente Geral', 8100.0), (4, 'Arthur', 'Estagiario', 800.0)]
[(2, 'Gabriel', 'Aspone', 100.0), (3, 'Alice', 'Gerente Geral', 8100.0), (4, 'Arthur', 'Estagiario', 800.0)]
[(2, 'Gabriel', 'Aspone', 100.0), (3, 'Alice', 'Gerente Geral', 8100.0), (4, 'Arthur', 'Estagiario', 800.0)]

In [30]:
# Passo 6 deletar o funcionario da tabela
id_funcionario_para_deletar = 1
cursor.execute("DELETE FROM funcionarios WHERE id = ?", (id_funcionario_para_deletar,))
conn.commit()