<a href="https://colab.research.google.com/github/Gabrieldacostamachado/phyton/blob/main/Introdu%C3%A7%C3%A3o_biblioteca_PANDA_%2B_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Importando o banco de dados panda
import pandas as pd #pd é o nome que damos para chamar o pandas
#Criando uma lista #Listas sempre entre []
exemplo1 = [10, 20, 30, 40, 50]

#Criando uma Series a partir da lista
series1 = pd.Series(data = exemplo1) #data é um paremetro, que vai virar a Series exemplo1

print(series1)
print(exemplo1) # Só para ver visualmente, que ele aparece como lista, no series1, aparece como uma serie
#O Indice no python sempre começa do 0

0    10
1    20
2    30
3    40
4    50
dtype: int64
[10, 20, 30, 40, 50]

In [8]:
# Criando uma Sere através de um dicionario

import pandas as pd

#Crindo um dicionario com pares chave-valor
exemplo2 = {'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

#Criando uma Series a partir do dicionario
series2 = pd.Series(data = exemplo2)

print(series2)
print(exemplo2) #Só para visualização, de como fica como lista

A    100
B    200
C    300
D    400
E    500
dtype: int64
{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

In [9]:
import pandas as pd

#Importando uma url para exportar a tabela do site

url = 'https://www.fdic.gov/bank-failures/failed-bank-list'

dfs = pd.read_html(url) #dfs foi o nome que demos para essa ação, pode ser dado qualquer nome, url foi o nome atribuido para a ação anterior

print(type(dfs)) #Solicitando a impressão informando o type (Tipo de objeto) do dfs ( Vai apresentar como class list, pois saiu como uma lista)
print(len(dfs))# Vai informar 1, pois ainda tem apenas 1 tamanho, é uma lista de dataframe com varias tabelas

<class 'list'>
1

In [10]:
df_bancos = dfs[0] #Vamos criar o df_bancos na posição 1, que sempre sera indicada como 0, pois inicia em 0. estamos transformando a 1 linha em um dataframe

In [11]:
print(df_bancos.shape) #Vai informar quantas linhas e quantas colunas tem

(10, 7)

In [12]:
print(df_bancos.dtypes) # agora podemos verificar os tipos de colunas do nosso dataframe (Object = objeto, int64 = inteiro)

Bank Name               object
City                    object
State                   object
Cert                     int64
Aquiring Institution    object
Closing Date            object
Fund                     int64
dtype: object

In [13]:
df_bancos.head() # com esse código, podemos ver a planilha, o pandas coloca o indice automatico, 0,1,2,3,4....

,Bank Name,City,State,Cert,Aquiring Institution,Closing Date,Fund
0,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
1,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
2,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
3,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
4,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540

In [15]:
#Exercicio. Gerenciando um cadastro de uma loja, precisamos da orientação de qual publico deve investir, sendo assim, queremos saber a idade media dos clientes
import pandas as pd
#Criando um dicionario com nomes e idades
dados = {
    'Nome': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Idade': [25, 30, 35, 40, 45]
}
#Criando uma Series a partir do dicionario
serie_idades = pd.Series(dados['Idade'], index=dados['Nome']) #index, esta indexando pelo nome, esta atribuindo nome e idade, se procurar por alice, vai informar 25
#Exibir a serie idades
print(("Serie de idades:"))
print(serie_idades)
#Calcular a media de idades
media_idades = serie_idades.mean() #mean significa média
print("\nMédia de idades:", media_idades)

Serie de idades:
Alice    25
Bob      30
Carol    35
David    40
Eve      45
dtype: int64

Média de idades: 35.0